/*Css frame ~GetHubs*/
body {
    background-color:  #ffdae9;
    text-align: center;
}

h1 {
    color: white;
   background: Green;
     text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    padding: 0em 1em; /* I guess it looks cooler this way */
}

head {
  border:20px solid blue;
  }

footer{
  background:#FFFFFF; 
  text-align: center; 
  padding:1%;
}

.cp-text{ 
  color: rgba(0,0,0,.7); 
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}
